[Unit]
Description=GENIVI Smart Cities HMI
After=weston.service

[Service]
Environment=LD_PRELOAD=/usr/lib/libEGL.so
Environment=QT_RVI_NODE_CONFIG_FILE=/etc/rvi/conf.json
ExecStart=/opt/smart-cities/bin/smart-cities -platform wayland
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
