# Copyright (c) 2017, GENIVI Alliance
# 
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0. 

[Unit]
Description=V2X Keep-Alive signal

[Service]
ExecStart=@SBINDIR@/v2x-example.sh
RuntimeMaxSec=5
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
